/*******************/
/****** reset ******/
p {
   margin: 0;
   display: block;
}
/*******************/

html {
   height: 100%;
   font-family: "Rounded Mplus 1c", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

   body {
      margin: 35px;
      width: calc(100% - 70px);
      height: calc(100% - 70px);
      overflow: hidden;

      h1 {
         font-size: 25px;
         display: block;

         &:after {
            content: "";
            display: block;
            border-top: 1px solid #aaa;
         }
      }

      form {
         width: 100%;
         p {
            width: 100%;
            margin-bottom: 20px;

            &#p-deadline {
               height: 365px;
            }

            label {
               display: block;
            }
            input {
               font-size: 12px;
               height: 20px;
               border: 1px solid #aaa;
               border-radius: 4px;
               display: block;

               &#dl-input {
                 display: none;
               }
            }
            input#detail {
               width: 100%;
            }
            span.alert {
               color: #ff0000;
               font-size: 13px;
            }
            div.flatpickr-calendar {
               border: 1px solid #aaa;
               box-shadow: none;

               &:before {
                  border: none;
               }
               &:after {
                  display: none;
               }
            }
         }
         button#submit {
            width: 60px;
            height: 30px;
            border-radius: 5px;
            border: none;
            background: #23bd52;
            color: #FFF;
            font-size: 14px;
            outline: none;
            cursor: pointer;
            display: block;
            margin: auto 0 auto auto;
         }
      }
   }
}